@import url('footer.css');
@import url('navbar.css');
@import url('intro.css');

*{
	margin: 0px;
	padding: 0px;
}

/*Container*/
.container{
	display: grid;
	grid-template-rows: 70px 200px 700px 50px;
	grid-template-areas:
	"hd hd hd hd hd hd hd hd "
	"it it it it it it it it"
	"cn cn cn cn cn cn cn cn"
	"ft ft ft ft ft ft ft ft";
}

.content{
	grid-area: cn;
	display: grid;
	grid-template-areas: 
	"one two three";
	justify-content: center;
}

.card{
	border: 2px solid black;
	margin: 30px;
	background-color: #ffffff;
	color: black;
	border-radius: 10px;
	width: 300px;
	height: 420px;

}

/*Cards*/
.image img{
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.figcaption{
	text-align: center;
	margin-bottom: 5px;
	font-size: 15px;
}

.card_body h3{
	font-size: 1.6em;
	text-align: center;
	margin: 5px;
}

.one{
	grid-area: one;
	display: flex;
	flex-direction: column;
	
}
.two{
	grid-area: two;
	display: flex;
	flex-direction: column;
}
.three{
	grid-area: three;
	display: flex;
	flex-direction: column;
}

p{
	padding: 5px 15px;
}

.btn{
	text-align: center;
	width: 250px;
	text-decoration: none;
	color: black;
	background-color: #14e0d6;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
}

.btn:hover{
	color: #14e0d6 ;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
}

@media only screen and (max-width: 600px) {
	.navbar{
		height: 20%;
		padding: 20px 10px;
	}
	#logo{
		display: none;
	}
	.search{
		display: none;
	}
	ul li{
		margin: 5px;
		font-size: 15px;
	}
	.container{
		height: 100%;
		display: grid;
		grid-template-rows: 70px 200px 1400px 50px;
		grid-template-areas:
		"hd hd hd hd"
		"it it it it"
		"cn cn cn cn"
		"ft ft ft ft";
	}	
	.content{
		grid-template-areas: 
		"one" 
		"two" 
		"three";
	}
	.card{
		margin: 20px 0px;
		width: 280px;
	}
	.btn{
		width: 80px;
	}
}

@media only screen and (min-width: 1024px){
	.container{
		grid-template-rows: 90px 300px 800px 50px;
	}
	.intro h1{
		margin-top: 8%;
		font-size: 4em;
	}
}